**Very first step: import the modules and packages used in this notebook**

In [16]:
# import pandas under the alias "pd"
import pandas as pd
import csv 
import json

# Python Crash Course - Exercise 07

Topics covered:
* list comprehensions
* pandas

Tasks:
* Task 1: List Comprehension
* Task 2: Crude Oil Exports (with pandas)
* Task 3: Greatest Hits (with pandas)

## Task 1 - List comprehension

Use list comprehension to create the following lists:

* A list of all numbers in the `range(10,21)`
* A list of all numbers divisible by 4 in the `range(30,60)`
* A list of all even numbers from 91 to 98 (both included)
* A list of all consonants in the string `"Better safe than sorry"` (don't include white spaces)

Each of these lists could also be created by a for-loop. If you have time, try to recreate each of these lists using a for-loop!

In [2]:
# A list of all numbers in the `range(10,21)`

[i for i in range(10, 22)]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [3]:
# A list of all numbers divisible by 4 in the `range(30,60)`
[i for i in range(30, 61) if i % 4 == 0]

[32, 36, 40, 44, 48, 52, 56, 60]

In [4]:
# A list of all even numbers from 91 to 98 (both included)
[i for i in range(91, 99) if i % 2 == 0]

[92, 94, 96, 98]

In [ ]:
# A list of all consonants in the string 
# `"Better safe than sorry"` (don't include white spaces)

# Task 2: Crude Oil Exports

Together with this notebook, you are provided the file `.data/oil.csv`, with data provided by [UNdata](http://data.un.org/Explorer.aspx?d=EDATA&f=cmID%3aCR). It contains data on crude oil exports across all countries. For each of the subtasks below, you will find instructions in the code cells. Each of the code cell instructions can be solved by **1-2 lines of code**!

* Task 2a: Read in & explore the data
* Task 2b: Clean the data
* Task 2c: Access parts of the data
* Task 2d: Zoom in on a subset & explore the data
* Task 2e: Write your manipulated data set to a file

## Task 2a: Read in and explore the data

In [20]:
# read in with pandas
df = pd.read_csv("data/oil/oil.csv")
df

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Albania,Conventional crude oil - exports,2021.0,"Metric tons, thousand",547.800,NaN
1,Albania,Conventional crude oil - exports,2020.0,"Metric tons, thousand",577.320,NaN
2,Albania,Conventional crude oil - exports,2019.0,"Metric tons, thousand",631.216,NaN
3,Albania,Conventional crude oil - exports,2018.0,"Metric tons, thousand",582.789,NaN
4,Albania,Conventional crude oil - exports,2017.0,"Metric tons, thousand",488.000,NaN
...,...,...,...,...,...,...
2370,Yemen Arab Rep. (former),Conventional crude oil - exports,1990.0,"Metric tons, thousand",8058.000,1.0
2371,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1991.0,"Metric tons, thousand",0.000,NaN
2372,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1990.0,"Metric tons, thousand",0.000,NaN
2373,fnSeqID,Footnote,NaN,NaN,NaN,NaN
2374,1,Estimate,NaN,NaN,NaN,NaN

In [22]:
# display the first 10 rows
df.head(11)

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Albania,Conventional crude oil - exports,2021.0,"Metric tons, thousand",547.800,NaN
1,Albania,Conventional crude oil - exports,2020.0,"Metric tons, thousand",577.320,NaN
2,Albania,Conventional crude oil - exports,2019.0,"Metric tons, thousand",631.216,NaN
3,Albania,Conventional crude oil - exports,2018.0,"Metric tons, thousand",582.789,NaN
4,Albania,Conventional crude oil - exports,2017.0,"Metric tons, thousand",488.000,NaN
5,Albania,Conventional crude oil - exports,2016.0,"Metric tons, thousand",888.000,NaN
6,Albania,Conventional crude oil - exports,2015.0,"Metric tons, thousand",987.000,NaN
7,Albania,Conventional crude oil - exports,2014.0,"Metric tons, thousand",1007.220,NaN
8,Albania,Conventional crude oil - exports,2013.0,"Metric tons, thousand",1167.000,NaN
9,Albania,Conventional crude oil - exports,2012.0,"Metric tons, thousand",920.070,NaN
10,Albania,Conventional crude oil - exports,2011.0,"Metric tons, thousand",597.810,NaN

In [23]:
# display the last 8 rows
df.tail(9)

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
2366,Yemen,Conventional crude oil - exports,1994.0,"Metric tons, thousand",13255.0,NaN
2367,Yemen,Conventional crude oil - exports,1993.0,"Metric tons, thousand",8327.0,NaN
2368,Yemen,Conventional crude oil - exports,1992.0,"Metric tons, thousand",6153.0,NaN
2369,Yemen,Conventional crude oil - exports,1991.0,"Metric tons, thousand",7028.0,NaN
2370,Yemen Arab Rep. (former),Conventional crude oil - exports,1990.0,"Metric tons, thousand",8058.0,1.0
2371,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1991.0,"Metric tons, thousand",0.0,NaN
2372,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1990.0,"Metric tons, thousand",0.0,NaN
2373,fnSeqID,Footnote,NaN,NaN,NaN,NaN
2374,1,Estimate,NaN,NaN,NaN,NaN

In [24]:
# display the names of the columns
df.columns

Index(['Country or Area', 'Commodity - Transaction', 'Year', 'Unit',
       'Quantity', 'Quantity Footnotes'],
      dtype='object')

In [26]:
# display the data types in the columns
df.dtypes

Country or Area             object
Commodity - Transaction     object
Year                       float64
Unit                        object
Quantity                   float64
Quantity Footnotes         float64
dtype: object

In [27]:
# display the row labels (the index)
df.index

RangeIndex(start=0, stop=2375, step=1)

In [29]:
# how many rows does the data set have?
df.shape

(2375, 6)

In [30]:
# display the summary statistics for this dataset
df.describe()

              Year       Quantity  Quantity Footnotes
count  2373.000000    2373.000000                38.0
mean   2005.819638   25629.168283                 1.0
std       8.918376   53125.712083                 0.0
min    1990.000000       0.000000                 1.0
25%    1998.000000     202.411489                 1.0
50%    2006.000000    3100.000000                 1.0
75%    2013.000000   21373.000000                 1.0
max    2021.000000  375945.000000                 1.0

## Task 2b: Clean the data 
In this task, we will remove not needed columns, and all rows where we have missing values. Then, we will convert some of the columns into a different data type.

In [ ]:
# remove the columns "Quantity Footnotes" and "

In [ ]:
# remove rows (if any) where "Country or Area" is not availabe, 
# using boolean indexing with ".notna()"

In [ ]:
# remove rows (if any) where "Year" is missing

In [ ]:
# remove rows (if any) where "Quantity" is missing

In [ ]:
# check whether all the rows of "Commodity - Transaction" contain the same value, i.e.,
# the string value 'Conventional crude oil - exports'

In [ ]:
# how many rows do we have in our data set now?

In [ ]:
# change the datatype of the "Year" column to integer

## Task 2c: Access parts of the data

In [ ]:
# display only the "Country or Area" column

In [ ]:
# display only the data from the first row of the data set

In [ ]:
# display the part of the dataset where "Country or Area" is equal to "Costa Rica"

In [ ]:
# display the part of the data set that contains data for the year 2010

In [ ]:
# display the part of the data set that contains quantities over 200000 
# (two hundred thousand) (in thousand metric tons, unit of the "Quantity" column); 
# who are the big exporters?

In [ ]:
# display the row in the data set that shows how much oil 
# (in thousand metric tons, unit of the "Quantity" column)
# Denmark exported in 2020

In [ ]:
# display the part of the data set that shows export quantities over 30 000 
# (thirty thousand) for the year 1990
# (in thousand metric tons, unit of the "Quantity" column)

In [ ]:
# Which countries did not export any oil in 2017?
# (display the subset of the dataframe)

## Task 2d: Zoom in on a subset & explore the data

From now on, we will work with only a **subset** of the data set, looking only at the **most recent year** for which data is availabe. Make sure that you create a copy of the dataframe that you used until now, using the `.copy()` method, so that our manipulations of the subset data frame will not affect the original data frame.

In [ ]:
# copy the part of the data set for the MOST RECENT year into a separate data frame 
# called oilXXXX (XXXX standing for the most recent year)

In [ ]:
# what is the TOTAL quantity of exported oil? (summed over all countries)
# save the value to a variable called total_exports

In [ ]:
# sort the rows by descending value of "Quantity" 
# (i.e. the first row should contain the biggest exporter, etc.)
# make sure that you don't just *display* the sorted dataframe, but actually 
# *change* the dataframe into a sorted-by-quantity one

In [ ]:
# add a new column called "perc" to the dataframe; in this column,
# compute, for each country, what percentage of total_exports 
# their exported quantity translates to.

In [ ]:
# display the first 10 rows one more time: 
# now you should see what are the biggest 10 exporters in the most recent year?

In [ ]:
# for a country of your choice that is not on the "top 10", 
# find out what is their percentage of total exports?
# (just display the row for that country)

In [ ]:
# find out which country exported the most, and which country exported the least;
# what is the ratio (proportion) of the biggest vs. smallest export quantity?

## Task 2e: Write your manipulated data set to a file

Write the data set from the previous file (with data only on the most recent year; and with the added column containig percentages) to a file.

In [ ]:
# write to csv with the help of pandas 
# (you don't need to write the row labels (index) to the file)

In [ ]:
# read back in into a variable called "df" & 
# display the first 10 rows to check

# Task 3 - Greatest Hits

We will be working with a data set of popular Spotify songs 1998-2020 (taken from [Kaggle](https://www.kaggle.com/datasets/paradisejoy/top-hits-spotify-from-20002019)). We have one .csv file for each year (as indicated in the file name).

Your task is to:
1. Read in all files as pandas data frames, and add a `year` column that contains the year (according to the file name);
2. concatenate the yearly data sets into **one single pandas DataFrame with the variable name `df`**;
3. The "genre" column contains 0 to several genres for each record - add a "genres" column that contains all genres for that record as list of strings;
4. Now, write the function `next_on_my_playlist()` that takes your modified dataframe as input and will suggest to you which song you should listen to next.

***

**Input specifications for `next_on_my_playlist()`:**
* `next_on_my_playlist()` takes the *required* input parameter `data` (here, you will pass the single pandas DataFrame as argument); and the *optional* input parameters `year`, `energy_above`, `genre`; 
* `year`and `genre` are categorical variables (i.e. there is a limited set of possible values);
* `energy_above` is a numerical variable (i.e. an interval)
* make sure to include default values for the optional parameters: for `year`, the default value should be the year that has the most records (i.e., rows) in the DataFrame; for `energy_above`, it should be the median of the `energy` values; and for `genre`, it should be the genre that appears most often in the lists of genres
* You can [check the data set specifications](https://www.kaggle.com/datasets/paradisejoy/top-hits-spotify-from-20002019) and use pandas to determine appropriate accepted and default values for all three input categories before writing the function
* for all three input parameters, implement `assert` statements to test whether arguments (as provided by the user when calling the function) are correct, and include an assertion error

**Output specifications for `next_on_my_playlist()`:**
* `next_on_my_playlist()` returns two variables: artist *and* title of a song that meets all three input criteria;
* If *several* songs meet the criteria, randomly choose one;
* If *no* songs meet the criteria, return ["Mississippi Goddamn" by Nina Simone](https://www.youtube.com/watch?v=LJ25-U3jNWM);
* Include a docstring;
* Run the cell below to assert that your function works as expected.

In [ ]:
# YOUR CODE HERE

In [ ]:
# run assert statements to check that function is correctly implemented
assert next_on_my_playlist(data=df, genre = "blues", year=2003, energy = 0.1) == ('The White Stripes', 'Seven Nation Army') 
assert next_on_my_playlist(data=df, genre = "R&B", year=2003, energy = 0.93) == ('Sugababes', 'Hole In The Head')
assert next_on_my_playlist(data=df, genre = "blues", year=2014, energy = 1) == ('Nina Simone', 'Mississippi Goddamn')